/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */

body {
	text-align: center;
}

nav {
	background-color: #808080;
}

nav a {
	text-decoration: none;
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

nav a:hover {
	background-color: #ee5f3c;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
 }

h1 {
	color: rgb(2, 132, 130);
}

h2 {
	color: #ffd700;
}

.board {
	height: 50%;
	width: 50%;
	display: inline-block;
}

.card {
	width: 150px;
	height: 200px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: yellow;
	float: left;
	margin: 8%;
}



.name { 
	color: #ff0000;
}

footer {
	background-color: #808080;
}

